/* You can add global styles to this file, and also import other style files */
.app-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.task-list {
  max-width: 600px;
  margin: 20px auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
